<div dir="rtl" class="alert alert-primary" role="alert">
    مبلغ سفارش شما برای پرداخت : {{{result.order_total}}}
</div>
{{{result.order_hash}}}
<form action="payments/{{{result.order_hash}}}" method="POST">
    <div class="payment_method"><label for="cash">نقدی</label>
        <input id="cash" type="radio" name="payment_method" value="cash"></div>
    <div class="payment_method"><label for="online">آنلاین</label>
        <input id="online" type="radio" name="payment_method" checked value="online"></div>

    <button class="btn btn-primary" name="startPayment">پرداخت</button>
</form>