{{#products}}
<div class="card float-right" style="width: 18rem;">
    <img src="assets/images/{{image}}.jpg" class="card-img-top" alt="{{title}}">
    <div class="card-body">
        <h5 class="card-title text-right">{{title}}</h5>
        <p class="card-text text-right" style="direction: rtl">در دسته بندی : {{slug}}</p>
        <a href="card/add/{{slug}}" class="btn btn-primary">اضافه کردن به سبد خرید</a>
    </div>
</div>
{{/products}}