<form id="samanForm" action="https://sep.shaparak.ir/payment.aspx" method="POST">

    <input type="hidden" name="Amount" value={{{params.Amount}}}>
    <input type="hidden" name="ResNum" value={{{params.ResNum}}}>
    <input type="hidden" name="MID" value="{{{params.MID}}}">
    <input type="hidden" name="RedirectURL" value="{{{params.RedirectURL}}}">

</form>
<script>
    document.querySelector('#samanForm').submit()
</script>