<table class="table table-striped table-dark">
    <thead>
        <tr>

            <th scope="col">عنوان محصول</th>
            <th scope="col">تصویر</th>
            <th scope="col">قیمت</th>
            <th scope="col">تعداد</th>
            <th scope="col">قیمت کل</th>
        </tr>
    </thead>
    <tbody>
        {{#product}}
        <tr>
            <td>{{title}}</td>
            <td><img width="100" src="assets/images/{{image}}.jpg" alt=""></td>
            <td>{{price}}</td>
            <td>{{count}}</td>
            <td>{{total_price}}</td>
        </tr>
        {{/product}}



    </tbody>
</table>

<a class="btn btn-primary" href="orders">ثبت سفارش و پرداخت</a>